@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Pacifico&display=swap');

body {
    background-color: #ffffff;    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    color: #523634;    
}



/* Navigation */

.navbar-nav {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    text-transform: uppercase;
}

/* Carousel */

.hero-item {
    height: 440px;
}

.hero-img {
    height: 100%;
    object-fit: cover;

}

.carousel-caption {    
    top: 78%;
    transform: translateY(-50%);
    bottom: initial;
    text-shadow: -4px 1px 3px #523634;    
}
.carousel-caption h5 {
    color:white;
}

/* Cards */

.card-body {
    background-color: #ffeedc;
}

.card-body a {
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none; 
    color: #b6452c;
}

.card-text {
    font-family: 'PT Serif', serif;
    color: #523634;
    font-size: 20px;
    font-weight: 400;
}

/* Buttons */
.btn {
    color:#b6452c;
    font-size: 18px;    
    border-color: #523634;
}

/* Footer */

footer p {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 25px;
    color: #523634;
}

footer .btn {
    border: none;
    color: #523634;
}

.fa-brands {
    font-size: 40px;
}

@media screen and (max-width: 760px){
    .carousel-caption h5{    
        font-size: 25px;    
    }

    .carousel-caption p{    
        font-size: 15px;    
    }
}