{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 mb-4 border border-secondary rounded shadow" style="padding: 15px;">
            <div>
                <h1 class="headline mt-4 text-center">About Sweet Code</h1>
                <div>
                    <p class="fs-5">Whether you're a seasoned chef, a weekend baker, or someone who just loves to dabble in the
                        art of pastry making, you've found your new favorite corner on the web! Our site is a delightful
                        melting pot of dessert aficionados from all walks of life. Here, you can browse, create, and
                        share recipes ranging from heavenly cakes and chocolates to exquisite pastries and sweets.<br>

                        What makes us special? Each of you! Upon registration, you will have your own personal page
                        where your culinary creations take center stage. Whip up your signature chocolate mousse or try
                        your hand at a challenging croquembouche - the sky is the limit. Edit, refine, and perfect your
                        recipes anytime.<br>

                        Your voice matters in our sweet community. Comment, like, or politely critique the creations
                        of fellow dessert lovers. Rest assured, we keep our space welcoming and on-topic - every recipe
                        and comment is sprinkled with a bit of admin love to ensure a positive and respectful
                        environment.<br>

                        Join us, where every day is a chance to share your passion for desserts and discover new
                        sweet inspirations!

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}