{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 mb-4 border border-secondary rounded shadow" style="padding: 15px;">
            <div>
                <h1 class="headline mt-4">Add a new category</h1>                       
            </div>
            <form method="POST" class="form-text" enctype="multipart/form-data" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-signup btn-lg mt-3">Submit</button>
            </form>                           
        </div>    
    </div>
</div>

{% endblock %}
