{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %} 

{% if user.id == recipe.author.id %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 mb-4 border border-secondary rounded shadow" style="padding: 15px;">
            <div>
                <h1 class="headline mt-4">Delete your Recipe</h1>                
            </div>
            <form method="POST" class="form-text" enctype="multipart/form-data" style="margin-top: 1.3em;">
                
                {% csrf_token %}
                
                <h2>Are you sure you want to delete: <strong>{{ recipe.title }}</strong>?</h2>
                
                <a href="{% url 'user_recipes' %}" class="btn btn-outline-secondary btn-sm mt-3">Cancel</a>
                <button type="submit" class="btn btn-outline-danger btn-sm mt-3">Delete</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<p class="access-denied card-text">You are not allowed here!</p>
{% endif %}
{% endif %}

{% endblock content %}