{% extends "base.html" %}

{% block content %}

<!-- All recipes -->
<div class="container-fluid p-5">
    <div class="row">
        {% for recipe in recipe_list %}
        <div class="col-lg-3 mb-4">
            <div class="card border-secondary shadow-sm p-3 mb-5 bg-body rounded border">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/dce4cgoe6/image/upload/v1700143581/default_image_hgtqbs.png"
                    alt="A plate with macarons">
                {% else %}
                <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="Recipe image">
                {% endif %}
                <div class="card-body">
                    <h6 class="text-muted">By {{ recipe.author }} |
                        {{ recipe.created_on|date }} <i class="fa-solid fa-thumbs-up"></i>
                        {{ recipe.number_of_likes }}</h6>
                    <h5 class="card-title text-uppercase">{{ recipe.title }}</h5>
                    <div class="text-muted">
                        <a href="{% url 'category' recipe.category %}" style="text-decoration: none; color: #b6452c; text-transform: capitalize;"><strong>{{ recipe.category }}</strong></a>
                        <p class="card-text mb-3 fragment">{{ recipe.excerpt }}</p>
                        <p class="card-text">
                            <a href="{% url 'recipe_detail' recipe.slug %}"
                                class="btn btn-outline-secondary btn-sm">View Recipe</a>                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}