{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-12 col-12">
            <!-- Recipe Image -->
            <div class="recipe-img shadow-sm p-3 mb-5 bg-body rounded border">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/dce4cgoe6/image/upload/v1700143581/default_image_hgtqbs.png"
                    class="img-fluid border" alt="A plate with macarons">
                {% else %}
                <img src="{{ recipe.featured_image.url }}" class="img-fluid border" alt="Recipe image">
                {% endif %}
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">            
            <!-- Recipe Title -->
            <div class="card-body border">
                <h1 class="card-title">{{ recipe.title }}</h1>
                <p class="card-text"><small class="text-muted">By {{ recipe.author }} |
                        {{ recipe.created_on|date }} <i class="fa-solid fa-thumbs-up"></i>
                        {{ recipe.number_of_likes }}</small>
                </p>
                <hr>
                <p class="card-text">{{ recipe.excerpt }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Ingredients List and Recipe Description -->
<div class="container">
    <div class="row align-items-center mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12 align-items-center">
            <h1>Ingredients</h1>
            <hr>
            <p>{{ recipe.ingredients|safe }}</p>            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 align-items-center">
            <h1>Instructions</h1>
            <hr>
            <p>{{ recipe.description|safe }}</p>            
        </div>
    </div>
</div>
  
<!-- Comments -->
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-5 py-3">
            <h2>Comments:</h2>
            <div class="card-body">                
                {% for comment in comments %}
                <div class="comments border border-secondary rounded" style="padding: 10px;">
                    <p class="font-weight-bold">                        
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">                           
                            {{ comment.created_on }}
                        </span>                                               
                    </p>                                                                           
                    {{ comment.body | linebreaks }}
                </div>                
                {% endfor %}
            </div>
        </div>
        <!--Enter a Comment -->
        {% if user.is_authenticated %} 
        <div class="col-md-4 card mb-4 mt-5 py-3">
            <div class="card-body">
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg mt-3">Submit</button>
                </form>
                {% if commented %}
                <div class="alert alert-success mt-3" role="alert">
                    Your comment is awaiting approval
                </div>                
                {% endif %}                
            </div>
        </div>
        {% else %}
                <div class="alert alert-success text-center" role="alert">
                    Log in to join the discussion!
                </div> 
        {% endif %}       
    </div>
</div>

{% endblock content %}