{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-12 col-12">
            <!-- Recipe Image -->
            <div class="recipe-img shadow-sm p-3 mb-5 bg-body rounded border">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/dce4cgoe6/image/upload/v1701978138/default_image_mtlavz.jpg"
                    class="img-fluid border" alt="A plate with macarons">
                {% else %}
                <img src="{{ recipe.featured_image.url }}" class="img-fluid border" alt="Recipe image">
                {% endif %}
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
            <!-- Recipe Title -->
            <div class="card-body border">
                <h1 class="card-title">{{ recipe.title }}</h1>
                <a href="{% url 'category' recipe.category %}"><strong>{{ recipe.category }}</strong></a>
                <p class="card-text"><small class="text-muted">By <strong>{{ recipe.author }}</strong> | {{ recipe.created_on|date }}</p>
                <div>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{ recipe.slug }}" class="btn-like"><i
                                class="fa-solid fa-thumbs-up"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{ recipe.slug }}" class="btn-like"><i
                                class="fa-regular fa-thumbs-up fa-fade"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
                    {% endif %}
                    <span class="text-secondary">{{ recipe.number_of_likes }} </span>
                </div>
                <hr>
                <p class="card-text"><i class="fa-solid fa-clock"></i> <strong>Cooking time: </strong>{{ recipe.cooking_time }} minutes</p>
                <p class="card-text">{{ recipe.excerpt|safe }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Ingredients List and Recipe Description -->
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 col-sm-12 align-items-center">
            <h1>Ingredients</h1>
            <hr>
            <p>{{ recipe.ingredients|safe }}</p>            
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-items-center">
            <h1>Instructions</h1>
            <hr>
            <p>{{ recipe.description|safe }}</p>            
        </div>
    </div>
</div>
  
<!-- Comments -->
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-5 py-3">
            <h2>Comments:</h2>
            <div class="card-body">                
                {% for comment in comments %}
                <div class="comments border border-secondary rounded" style="padding: 10px;">
                    <p class="font-weight-bold">                        
                        <strong>{{ comment.name }}</strong>
                        <span class=" text-muted font-weight-normal">                           
                            {{ comment.created_on }}
                        </span>                                               
                    </p>                                                                           
                    {{ comment.body | linebreaks }}
                </div>                
                {% endfor %}
            </div>
        </div>
        <!--Enter a Comment -->
        {% if user.is_authenticated %} 
        <div class="col-md-4 card mb-4 mt-5 py-3">
            <div class="card-body">
                <h3>Leave a comment:</h3>
                <p>Posting as: <strong>{{ user.username }}</strong></p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-secondary btn-sm mt-3">Submit</button>
                </form>
                {% if commented %}
                <div class="alert alert-success mt-3" role="alert">
                    Your comment is awaiting approval
                </div>                
                {% endif %}                
            </div>
        </div>
        {% else %}
                <div class="alert alert-success text-center" role="alert">
                    Log in to join the discussion!
                </div> 
        {% endif %}       
    </div>
</div>

{% endblock content %}