{% extends "base.html" %}

{% block content %}

<!-- All user recipes -->
<div class="container-fluid p-3">
    {% if user.is_authenticated %} 
    <div class="row">                       
            <h1 class="headline mt-1">My Recipes</h1>        
        {% for recipe in recipe_list %}
        <div class="col-sm-12 col-md-6 col-lg-3 mb-4 mt-2">
            <div class="card border-secondary shadow-sm p-3 mb-5 bg-body rounded border">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/dce4cgoe6/image/upload/v1701978138/default_image_mtlavz.jpg" class="card-img-top" alt="A plate with macarons">
                {% else %}
                <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="Recipe image">
                {% endif %}
                <div class="card-body">                    
                    <h4 class="card-title text-uppercase"><strong>{{ recipe.title }}</strong></h4>
                    <div class="text-muted">
                        <a href="{% url 'category' recipe.category %}"><strong>{{ recipe.category }}</strong></a>
                        <p></p>
                        <p class="card-text mb-3 fragment">{{ recipe.excerpt|safe }}</p>
                        <h6 class="text-muted">By {{ recipe.author }} |
                            {{ recipe.created_on|date }} <i class="fa-solid fa-thumbs-up"></i>
                            {{ recipe.number_of_likes }}
                        </h6>
                        <p></p>
                        <p class="card-text">
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-outline-secondary btn-sm">View Recipe</a>
                            {% if user.id == recipe.author.id %}
                            <a href="{% url 'update_recipe' recipe.slug %}" class="btn btn-outline-secondary btn-sm">Update</a>
                            <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-outline-danger btn-sm">Delete</a>
                            {% endif %}                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}        
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
        <p class="access-denied card-text">You are not allowed here!</p>
{% endif %}

{% endblock content %}

